.button {
    padding: 11px 25px 13px;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
    }

.button_bordered {
    background: $color-light;    
    color: $color-text-button;
    border: 1px solid $color-button-light;
}

.button_colored {
    background: $color-primary;
    color: $color-light;
    border: 1px solid $color-primary;
}

.button_bordered:hover {
    background: $color-button-light;
    border-color: $color-button-light;
}

.button_colored:hover {
    background: $color-additional;
    border-color: $color-additional;
}