%hamburger__line {
    content: "";
    display: inline-block;
    position: absolute;
    background: $color-hamburger;
    border-radius: 5px;
    height: 3px;
    width: 100%;
}

.hamburger {
    display: none;
    position: relative;
    width: 31px;
    height: 25px;
    @include media-tablet {
        display: inline-block;
        margin-right: 37px;
    }
    &:before {
        @extend %hamburger__line;
        top: 0;
        left: 0;
    }
    &:after {
        @extend %hamburger__line;
        bottom: 0;
        left: 0;
    }
}

.hamburger__line {
    @extend %hamburger__line;
    top: calc(50% - 1.5px);
    left: 0;
}