.ico {
    cursor: pointer;
    display: inline-block;
}

.ico_play {
    @include icon($url: "../img/icons/play.svg", $width: 18px, $height: 19px);
}

.ico_arrow {
    @include icon($url: "../img/icons/arrow.svg", $width: 12px, $height: 17px);
}

.ico_heart{
    @include icon($url: "../img/icons/heart.svg", $width: 17px, $height: 15px);
}

.ico_snake {
    @include icon($url: "../img/icons/snake.svg", $width: 18px, $height: 14px);
}

.ico_watch {
    @include icon($url: "../img/icons/watch.svg", $width: 15px, $height: 17px);
}


.icon-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    cursor: pointer;
    &_lilium {
        background: $color-violet;
    }
    &_yellow {
        background: $color-yellow;
    }
    &_red {
        background: $color-red;
    }
    &_blue {
        background: $color-blue;
    }
}



