/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.navigation__link, .footer-navigation__links a, .logo-path, .link-button, .button {
  transition: all 0.3s ease-out;
}

.tool__title, .contact-us__form input::placeholder, .contact-us__form textarea::placeholder, .button, body {
  font-family: "Open Sans", Verdana, sans-serif;
}

.promo__text, .footer-navigation__links a, .link-button, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

html {
  font-size: 10px;
}
html body, html h1, html h2, html h3, html h4, html p, html a {
  margin: 0;
}
html * {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
}

h1, h2, h3, h4, h5 {
  color: #2F281E;
}

h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
}
@media (max-width: 414px) {
  h1 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 4.2rem;
  }
}

h2 {
  font-size: 3.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.6rem;
}
@media (max-width: 414px) {
  h2 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3.3rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.4rem;
}
@media (max-width: 414px) {
  h3 {
    font-size: 2.1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3.1rem;
  }
}

h4 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}
@media (max-width: 768px) {
  h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 3rem;
  }
}
@media (max-width: 414px) {
  h4 {
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.7rem;
  }
}

h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
}

.block-shadowed {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.button {
  padding: 11px 25px 13px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
}
.button_bordered {
  background: #FFFFFF;
  color: #173A56;
  border: 1px solid #BCD0E5;
}
.button_bordered:hover {
  background: #BCD0E5;
  border-color: #BCD0E5;
}
.button_colored {
  background: #FF9900;
  color: #FFFFFF;
  border: 1px solid #FF9900;
}
.button_colored:hover {
  background: #FF7549;
  border-color: #FF7549;
}
.button_wide {
  min-width: 117px;
}

.link-button {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #FF9900;
  text-decoration-line: underline;
}
.link-button:hover {
  color: #FF7549;
}
.link-button_info {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  font-family: "Open Sans", Verdana, sans-serif;
  color: #544837;
  text-decoration: none;
}

.link-button__text {
  margin-left: 9px;
}

.link-button__text_wide {
  margin-left: 11px;
}

.form-button {
  min-width: 117px;
}

.logo {
  display: flex;
  height: 30px;
}

.logo-object {
  width: 160px;
  height: 30px;
}

.logo-svg {
  cursor: pointer;
}
.logo-svg:hover .logo-path {
  fill: #FF9900;
}

.ico {
  cursor: pointer;
  display: inline-block;
}
.ico_play {
  background-image: url("../../img/icons/play.svg");
  width: 18px;
  height: 19px;
}
.ico_arrow {
  background-image: url("../../img/icons/arrow.svg");
  width: 12px;
  height: 17px;
}
.ico_heart {
  background-image: url("../../img/icons/heart.svg");
  width: 17px;
  height: 15px;
}
.ico_snake {
  background-image: url("../../img/icons/snake.svg");
  width: 18px;
  height: 14px;
}
.ico_watch {
  background-image: url("../../img/icons/watch.svg");
  width: 15px;
  height: 17px;
}
.ico_phone {
  background-image: url("../../img/icons/phone.svg");
  width: 13px;
  height: 13px;
}
.ico_letter {
  background-image: url("../../img/icons/email.svg");
  width: 11px;
  height: 8px;
}

.icon-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  cursor: pointer;
}
.icon-square_lilium {
  background: #7752BE;
}
.icon-square_yellow {
  background: #FAB005;
}
.icon-square_red {
  background: #F03E3D;
}
.icon-square_blue {
  background: #4DADF7;
}
.icon-square_light {
  background: #FFFFFF;
}
.icon-square_little {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 7px;
}

.tag {
  border-radius: 90px;
  padding: 0 14px;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
  cursor: pointer;
}
.tag_selected {
  background: #FF9900;
  color: #FFFFFF;
}
.tag_bordered {
  border: 1px solid #D7D7D7;
}
.tag_colored {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #173A56;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

.hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
    margin-right: 37px;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}
@media (max-width: 1197px) {
  .wrapper {
    padding: 0 46px;
  }
}
@media (max-width: 414px) {
  .wrapper {
    padding: 0 21px;
  }
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding-left: 24px;
  }
}

.header__buttons .button {
  margin-left: 14px;
}
.header__buttons .button:first-child {
  margin-left: 0;
}
@media (max-width: 414px) {
  .header__buttons {
    display: none;
  }
}

.header__logo-line {
  display: flex;
  align-items: center;
}
.header__logo-line a {
  display: flex;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 48%;
}

.footer {
  padding: 58px 0 52px;
}
@media (max-width: 768px) {
  .footer {
    padding: 47px 0 26px;
  }
}
@media (max-width: 414px) {
  .footer {
    padding: 31px 0 28px;
  }
}

.footer__wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 151px;
}
@media (max-width: 768px) {
  .footer-navigation {
    padding-left: 0;
    margin-top: 34px;
  }
}
@media (max-width: 414px) {
  .footer-navigation {
    flex-direction: column;
    margin-top: 27px;
  }
}

.footer-navigation__title {
  margin: 0 0 15px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
}
@media (max-width: 414px) {
  .footer-navigation__title {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
  }
}

.footer-navigation__links {
  list-style: none;
  padding: 0;
}
.footer-navigation__links a {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.5rem;
  text-decoration: none;
  color: #544837;
}
.footer-navigation__links a:hover {
  color: #FF9900;
}

.contact-us {
  background: #FFEEE1;
  padding: 62px 0 82px;
}
@media (max-width: 768px) {
  .contact-us {
    padding: 49px 0 49px;
    text-align: center;
  }
}
@media (max-width: 414px) {
  .contact-us {
    padding-top: 34px 0 49px;
  }
}

@media (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
  }
}

.contact-us__form input, .contact-us__form textarea {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  padding: 12px 21px;
  border-radius: 5px;
}
.contact-us__form input:focus, .contact-us__form textarea:focus {
  outline: none;
  border: 1px solid #FF9900;
  border-radius: 5px;
}
.contact-us__form input::placeholder, .contact-us__form textarea::placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  color: #C6C6C6;
}
.contact-us__form textarea {
  width: 100%;
  height: 160px;
  resize: none;
}

.contact-us__line {
  margin-bottom: 19px;
}
@media (max-width: 414px) {
  .contact-us__line {
    flex-direction: column;
    margin-bottom: 0;
  }
  .contact-us__line > * {
    margin-bottom: 19px;
  }
}

.contact-us__button {
  margin: -4px 0 0;
}
@media (max-width: 414px) {
  .contact-us__button {
    margin: 24px 0 0;
  }
}

.contact-us__content {
  padding-right: 50px;
}
@media (max-width: 414px) {
  .contact-us__content {
    padding-right: 0;
  }
}

.contact-us__title {
  margin: 0 0 17px;
}
@media (max-width: 414px) {
  .contact-us__title {
    margin: 0 0 8px;
  }
}

.contact-us__text {
  margin: 0 0 33px;
}
@media (max-width: 768px) {
  .contact-us__text {
    margin: 0 0 26px;
  }
}
@media (max-width: 414px) {
  .contact-us__text {
    margin: 0 0 24px;
  }
}

.contact-us__first-link {
  margin: 0 0 19px;
}
@media (max-width: 414px) {
  .contact-us__first-link {
    margin: 0 0 17px;
  }
}

@media (max-width: 768px) {
  .contact-us__last-link {
    margin: 0 0 19px;
  }
}
@media (max-width: 414px) {
  .contact-us__last-link {
    margin: 0 0 41px;
  }
}

.promo {
  padding: 30px 0 111px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .promo {
    padding: 0 0 78px;
  }
}
@media (max-width: 414px) {
  .promo {
    padding: 12px 0 49px;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 414px) {
  .promo__wrapper {
    flex-direction: column-reverse;
  }
}

.promo__content {
  padding-right: 66px;
}
@media (max-width: 768px) {
  .promo__content {
    padding-right: 0;
  }
}
@media (max-width: 414px) {
  .promo__content {
    text-align: center;
  }
}

.promo__title {
  margin: 0 0 30px;
}

.promo__text {
  max-width: 487px;
  margin: 0 0 45px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}
@media (max-width: 768px) {
  .promo__text {
    width: 380px;
  }
}
@media (max-width: 414px) {
  .promo__text {
    width: auto;
  }
}

.promo__buttons {
  display: flex;
  align-items: center;
}
.promo__buttons > * {
  margin-right: 44px;
}
.promo__buttons > *:last-child {
  margin-right: 0;
}
@media (max-width: 414px) {
  .promo__buttons {
    flex-direction: column;
  }
  .promo__buttons > * {
    margin-right: 0;
    margin-bottom: 26px;
  }
  .promo__buttons > *:last-child {
    margin: 0;
  }
}

@media (max-width: 414px) {
  .promo__image {
    max-width: 100%;
    margin-bottom: 16px;
  }
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}

.navigation__link {
  list-style: none;
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #FF9900;
}

@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.tools__wrapper {
  padding-bottom: 90px;
  background-image: url("../img/tools/tools-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .tools__wrapper {
    background-position: center calc(100% - 40px);
    background-size: 774px auto;
  }
}
@media (max-width: 414px) {
  .tools__wrapper {
    padding-bottom: 110px;
    background-position: center calc(100% - 63px);
    background-size: 375px auto;
  }
}

.tools__title {
  max-width: 462px;
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .tools__title {
    text-align: center;
    margin-bottom: 51px;
  }
}
@media (max-width: 414px) {
  .tools__title {
    margin-bottom: 43px;
  }
}

.tools__button {
  margin-top: 60px;
  text-align: center;
}
@media (max-width: 768px) {
  .tools__button {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .tool-container {
    flex-wrap: wrap;
  }
  .tool-container > .tool {
    flex-basis: 43%;
  }
}
@media (max-width: 414px) {
  .tool-container > .tool {
    flex-basis: 100%;
    margin: 0 0 47px;
  }
  .tool-container > .tool:last-child {
    margin: 0 0 38px;
  }
}

.tool {
  margin: 0 0 54px;
}
@media (max-width: 768px) {
  .tool {
    text-align: center;
  }
}

.tool__icon {
  display: inline-block;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .tool__icon {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  .tool__icon {
    margin-bottom: 10px;
  }
}

.tool__title {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 16px;
}
@media (max-width: 768px) {
  .tool__title {
    margin-bottom: 6px;
  }
}
@media (max-width: 414px) {
  .tool__title {
    margin-bottom: 0;
  }
}

.tool__text {
  color: #544837;
}
@media (max-width: 768px) {
  .tool__text {
    text-align: center;
  }
}

.strategies {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .strategies {
    text-align: center;
    padding: 11px 0;
  }
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin: 0 0 31px;
}
@media (max-width: 768px) {
  .strategies__tags {
    justify-content: center;
  }
}

.strategy-wrapper > * {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .strategy-wrapper > * {
    flex-basis: 48%;
  }
}
@media (max-width: 414px) {
  .strategy-wrapper > * {
    flex-basis: 100%;
  }
}

.strategy {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .strategy {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .strategy__image {
    min-height: 171px;
  }
}

.strategy__title {
  margin: 0 0 29px;
  text-align: left;
  flex-grow: 1;
}

.strategy__content {
  padding: 24px 34px 26px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.about-us__wrapper {
  padding: 36px 0 101px;
}

.about-us__title {
  margin: 0 0 14px;
}

.about-us__text {
  margin: 0 0 45px;
}

.employees-block {
  padding-right: 32px;
}

.employee {
  display: flex;
  position: relative;
  padding: 35px;
  width: calc(30% - $image-gap);
}

.employee__name {
  margin: 0;
}

.employee__title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
}

.employee__email {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
  text-decoration: none;
}

.employee__photo {
  width: 98px;
  height: 98px;
  position: absolute;
  top: 20px;
  right: -32px;
  border-radius: 100%;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=style.css.map */
