.contact-us {
    background: $color-background;
    padding: 62px 0 82px;

    @include media-tablet {
        padding: 49px 0 49px;
        text-align: center;         
    }

    @include media-mobile {
        padding-top: 34px 0 49px;
    }
}

.contact-us-container {
    @include media-tablet {
        flex-direction: column;         
    }
}

.contact-us__form {

    input, textarea {
        border: 1px solid $color-light;
        background: $color-light;
        padding: 12px 21px;
        border-radius: 5px;    

        &:focus {
            outline: none;
            border: 1px solid $color-primary;
            border-radius: 5px;  
        }

        &::placeholder {
            @extend %font-prime;
            @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
            color: $color-text-input;
        }
    }
    textarea {                      
        width: 100%;
        height: 160px;
        resize: none;
    }
}

.contact-us__line {
    margin-bottom: 19px;

    @include media-mobile {
        flex-direction: column;
        margin-bottom: 0;
        >* {
            margin-bottom: 19px;
        }
    }
}

.contact-us__button {
    margin: -4px 0 0;

    @include media-mobile {
        margin: 24px 0 0;
    }
}

.contact-us__content {
    padding-right: 50px;

    @include media-mobile {
        padding-right: 0;
    }
}

.contact-us__title {
    margin: 0 0 17px;

    @include media-mobile {
        margin: 0 0 8px;
    }
}

.contact-us__text {
    margin: 0 0 33px;

    @include media-tablet {
        margin: 0 0 26px;
    }

    @include media-mobile {
        margin: 0 0 24px;
    }
}

.contact-us__first-link {
    margin: 0 0 19px;

    @include media-mobile {
        margin: 0 0 17px;
    }
}

.contact-us__last-link {
    @include media-tablet {
        margin: 0 0 19px;
    }

    @include media-mobile {
        margin: 0 0 41px;
    }
}