.navigation {
    display: flex;
    @include font($size: 1.5rem, $height: 2.8rem, $weight: normal);
}

.navigation__link {
    list-style: none;
    padding: 0 10px 0 10px;
    cursor: pointer;
    @extend %transition;
    &:hover {
        color: $color-primary;
    }
}
