.footer__wrapper {
    display: flex;
    padding: 58px 46px 52px;

    @include media-tablet {
        padding: 47px 47px 26px;
        flex-direction: column;
    }

    @include media-mobile {
        padding: 31px 22px 28px;
        flex-direction: column;
    }
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 151px;

    @include media-tablet {
        padding-left: 0;
        margin-top: 34px;
    }

    @include media-mobile {
        flex-direction: column;
        margin-top: 27px;
    }
}

.footer-navigation__title {
    margin: 0 0 15px;
    @include font($size: 2rem, $height: 3rem, $weight:600);

    @include media-mobile {
        @include font($size: 1.8rem, $height: 3rem, $weight:600);
    }
}

.footer-navigation__links {
    list-style: none;
    padding: 0;    
    a {        
        @include font($size: 1.6rem, $height: 3.5rem, $weight: normal);
        @extend %font-additional;
        text-decoration: none;
        color: $color-text;
        @extend %transition;
        &:hover {
            color: $color-primary;
        }
    }
}